.ant-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-layout .ant-layout-content {
  flex: 1;
  padding: 0 50px; 
}

/* Fix the Footer at the bottom */
.ant-layout .ant-layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: #f0f2f5; 
  padding: 16px 50px; 
}

h1 {
  text-align: center;
}

.todo-item {
  width: 800px;
  padding: 8px;
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  &:hover {
    background-color: #f0f0f0;
  }
}

.todo-item span {
  flex: 1;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.todo-item .done {
  text-decoration: line-through;
}

.todo-item-container {
  margin-top: 10px;
  display: flex;
}

.todo-item-container button, 
.todo-generator button {
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}

.todo-generator input {
  width: 200px;
  padding: 6px;
}

.todo-generator button {
  padding: 6px;
  background-color: #478cd6;
  color: white;
  border: none;
}

.todo-generator {
  margin-top: 10px;
}

.todo-detail {
  font-size: 24px;
}